* {
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #D6D5C9;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E09715;
    width: 736px;
    height: 700px;
    
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Unbounded', sans-serif;
     color: black;
     font-size: 45px;
}
#login input{
    width: 200px;
    height: 25px;
    background-color: #D6D5C9;
    
}
nav img{
    display: flex;
    height: 700px;
    width: auto;
}

.boton {
    background-color: #000000;
    
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    color: #D6D5C9;
    
    border-radius: 15px;
    padding: 25px;
    text-decoration: none;
    outline: none solid;
    margin-top: 35px;
}
.new-user {
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    
}
.new-user a:visited {
    color: black; 
  }
  .new-user a:hover {
    color: black; 
  }

  .footer{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }





  /* Estilos para pantallas de 1440px */
@media screen and (min-width: 1440px) {
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E09715;
        width: 536px;
        height: 700px;
        
    }
  }
  
  /* Estilos para pantallas de 1024px */
  @media screen and (max-width: 1440px) and (min-width: 768px) {
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E09715;
        width: 636px;
        height: 700px;
        
    }
    nav {
        flex-direction: column;
    }
    .login-img {
        display: none;
    }
  }
  
  
  @media screen and (max-width: 767px) {
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E09715;
        width: 80%;
        height: 700px;
        
    }
    nav {
        flex-direction: column;
    }
    .login-img {
        display: none;
  }
  #login{
    
    font-family: 'Unbounded', sans-serif;
     color: black;
     font-size: 30px;
}
h2 {
    font-size: 30px;
}
label {
    font-size: 25px;
}
.boton{
    font-size: 25px;
}
p {
    font-size: 22px;
}
  }
