* {
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #D6D5C9;
}
.header {
    background-color: #D6D5C9;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a{
    font-size: 25px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: black;
}
.logo {
    width: 280px;
    height: auto;
}
.title {
    background-color: #D6D5C9;
    font-family: 'Unbounded', sans-serif;
    font-size: 60px;
    color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A87258;
    width: 736px;
    height: 700px;
    
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Unbounded', sans-serif;
     color: #000000;
     font-size: 45px;
}
#login input{
    width: 200px;
    height: 25px;
    background-color: #ffffff;
    
}
nav img{
    display: flex;
    height: 700px;
    width: auto;
}

.boton {
    background-color: #D6D5C9;
    
    font-size: 25px;
    font-family: 'Unbounded', sans-serif;
    color: #000000;
    
    border-radius: 15px;
    padding: 25px;
    text-decoration: none;
    outline: none solid;
    margin-top: 35px;
}
.new-user {
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    
}
.new-user a:visited {
    color: black; 
  }
  .new-user a:hover {
    color: black; 
  }

  .footer{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }




  
  
  /* Estilos para pantallas de 1024px */
  @media screen and (max-width: 1440px) and (min-width: 1024px) {
    nav img{
        display: none;
    }

  }
  
  /* Estilos para pantallas de 768px (tabletas y dispositivos m칩viles) */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    nav img{
        display: none;
    }
    .logo {
        width: 180px;
        height: auto;
    }
    .title {
        background-color: #D6D5C9;
        font-family: 'Unbounded', sans-serif;
        font-size: 50px;
        color: rgb(8, 8, 8);
       
    }
    .footer {
        font-size: 15px;
    }
  }
  
  /* Estilos para pantallas m치s peque침as, como dispositivos m칩viles (hasta 767px) */
  @media screen and (max-width: 768px) {
    .header a{
        font-size: 10px;
        
    }
    .logo {
        width: 90px;
        height: auto;
    }
    
    nav img{
        display: none;
    }
    
    .title {
        background-color: #D6D5C9;
        font-family: 'Unbounded', sans-serif;
        font-size: 15px;
        color: rgb(8, 8, 8);
       
    }
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A87258;
        width: 80%;
        height: 700px;
        
    }
    nav {
        flex-direction: column;
    }
    .login-img {
        display: none;
  }
  #login{
    
    font-family: 'Unbounded', sans-serif;
     color: black;
     font-size: 20px;
}
h2 {
    font-size: 20px;
}
label {
    font-size: 15px;
}
.boton{
    font-size: 15px;
}
p {
    font-size: 12px;
}
.new-user {
    font-size: 12px;
}
.footer {
    font-size: 10px;
}
  }