* {
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #D6D5C9;
}
.header {
    background-color: #D6D5C9;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a{
    font-size: 25px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: black;
}
.logo {
    width: 280px;
    height: auto;
}
.title {
    background-color: #D6D5C9;
    font-family: 'Unbounded', sans-serif;
    font-size: 60px;
    color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.form-registro img{
    /* display: flex; */
    border-radius: 5px;
    /* width: 55%; */
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #A91E00;
    /* margin: 150px; */
    border-radius: 15px;
}

.form-registro {
    
    
    width: 40%;
    height: 700px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    flex-direction: column;
    
}
.form-registro h2 {
    font-family: 'Unbounded', sans-serif;
    font-size: 50px;
}
option{
    font-family: 'Work Sans', sans-serif;
    font-size: 19px;
}
input{
    font-family: 'Unbounded', sans-serif;
    font-size: 22px;
    
}
label{
    font-family: 'Unbounded', sans-serif;
    font-size: 22px;
}
select{
    font-family: 'Unbounded', sans-serif;
    font-size: 18px;
}
.boton {
    color: #D6D5C9;
    background-color: black;
    padding: 18px;
    border-radius: 20px;
}


a {
    color: black; 
    text-decoration: underline;
}


a :active {
    color: rgb(105, 105, 1); 
}

.footer{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  /* Estilos para pantallas de 1024px */
  @media screen and (max-width: 1440px) and (min-width: 1024px) {
    .img-reserva{
        display: none;
    }
    section{
        display: flex;
        background-color: rgba(255, 255, 255, 0);
        justify-content: space-evenly;
        height: auto;
        flex-wrap: wrap;
    }
    .form-registro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #A91E00;
        width: 80%;
        margin: 15px;
        border-radius: 15px;
        padding: 15px;
    }
  }
  
  /* Estilos para pantallas de 768px (tabletas y dispositivos m칩viles) */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .img-reserva{
        display: none;
    }
    section{
        display: flex;
        background-color: rgba(255, 255, 255, 0);
        justify-content: space-evenly;
        height: auto;
        flex-wrap: wrap;
    }
    .form-registro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #A91E00;
        width: 80%;
        margin: 15px;
        border-radius: 15px;
        padding: 15px;
    }
    .title{
        font-size: 40px;
    }
    .logo {
        width: 180px;
        height: auto;
    }
  }
  
  /* Estilos para pantallas m치s peque침as, como dispositivos m칩viles (hasta 767px) */
  @media screen and (max-width: 768px) {
    .img-reserva{
        display: none;
    }
    section{
        display: flex;
        background-color: rgba(255, 255, 255, 0);
        justify-content: space-evenly;
        height: auto;
        flex-wrap: wrap;
    }
    .form-registro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #A91E00;
        width: 80%;
        height: auto;
        margin: 15px;
        border-radius: 15px;
        padding: 15px;
    }
    .title{
        font-size: 12px;
    }
    .logo {
        width: 90px;
        height: auto;
    }
    .form-registro h2 {
        font-family: 'Unbounded', sans-serif;
        font-size: 30px;
    }
    option{
        font-family: 'Work Sans', sans-serif;
        font-size: 10px;
    }
    input{
        font-family: 'Unbounded', sans-serif;
        font-size: 10px;
        
    }
    label{
        font-family: 'Unbounded', sans-serif;
        font-size: 10px;
    }
    .header a{
        font-size: 10px;
        
    }
    select{
        font-size: 10px;
    }
  }